body {
  background-color: rgb(255, 189, 144);
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", serif;
    font-weight: 400;
    font-style: normal;
  }
  
#hero {
    font-size: 6rem;
    padding: 50px;
  }

.projectPic {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.75rem;
}

.projectPic:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, .1);
  background-color: #f8f9fa;
  border: 2px solid #dadce0;
  color: #202124;
}

.profileImage {
  width: 300px;
  border-radius: 0.75rem;
  
}

  @media (min-width: 992px) {
    #hero {
        font-size: 10rem;
        padding: 50px;
      }
    
    .projectPic {
        width: 300px;
    }

    .profileImage {
       width: 350px;
    }
    

    }

.pfofile {
    height: 200px;
    border-radius: 50%;
    }

a {
  color: black;
}
a:hover {
  color: white;
}

